@charset "UTF-8";
/* マテリアルスイーツ CSS */
body {
    font-family: "Yu Gothic", YuGothic, "MS Pゴシック", Meiryo;
    font-size: 16px;
    background-image: url(images2/gold_back.jpg);
    background-repeat: repeat-y;
}　
/* リセット CSS */
h1,h2,h3,h4,p,ul,li{
  margin:0;
  padding:0;
}
/* ヘッダー CSS */
header{
  width:980px;
  color:brown;
  background-color:bisque;
  overflow:hidden;
}
#logo{
  display:block;
  margin-left:10px;
  margin-bottom:10px;
  float:left;
}
#head_meg{
  margin-top:20px;
  margin-left:70px;
  float:left;
}
h1{
  font-size:28px;
  color:crimson;
}
/* ナビゲーション css */
nav{
  padding-left:10px;
  padding-right:10px;
}
nav ul{list-style-type:none;}
nav li{
  width:160px;
  height:60px;
  float:left;
}
nav a{
  display:block;
  line-height:60px;
  text-align:center;
  color:darkred;
  text-decoration:none;
  background-image:url(images/gold.png);
}
nav a:hover{
  color:crimson;
  font-weight:bold;
  background-image:url(images/silvar.png);
}
/* メインコンテンツ css */
main{
  width:960px;
  padding-top:20px;
  padding-left:20px;
  padding-bottom:20px;
  background-color:antiquewhite;
  overflow:hidden;
}
h2{
  font-size:24px;
  width:400px;
  height:60px;
  margin-bottom:20px;
  line-height:60px;
  text-align:center;
  color:darkred;
  background-image:url(images/silver-h2.png);
}
h3{
  width:220px;
  height:70px;
  margin-top:20px;
  margin-bottom:20px;
  font-size:20px;
  line-height:70px;
  text-align:center;
  color:darkred;
  background-image:url(images/frame.png);
  float:left;
}
.margin_p{
  margin-top:45px;
  margin-left:20px;
  color:brown;
  float:left;
}
#picup_img{
  clear:both;
  margin-right:20px;
  float:left;
}
#picup_p{
  width:440px;
  height:280px;
  padding:10px;
  margin-right:20px;
  border-radius:10px;
  background-color:burlywood;
  float:left;
}
h4{
  width:200px;
  height:60px;
  margin-bottom:10px;
  font-size:20px;
  line-height:60px;
  text-align:center;
  color:darkred;
  border-radius:10px;
  background-image:url(images/goldpanel.png);
}
#classic{clear:both;}
.sweets{
  width:280px;
  padding:10px;
  margin-right:20px;
  border-radius:10px;
  background-color:burlywood;
  float:left;
}
/* フッター CSS */
footer{
  clear:both;
  width:940px;
  padding:20px;
  text-align:right;
  background-color:bisque;
}
