@charset "UTF-8";
/* マテリアルスイーツ CSS */
body {
    font-family: "Yu Gothic", YuGothic, "MS Pゴシック", Meiryo;
    font-size: 16px;
    background-image: url(images2/gold_back.jpg);
    background-repeat: repeat-y;
}　
/* リセット CSS */
h1,h2,h3,h4,p,ul,li{
  margin:0;
  padding:0;
}

/* ヘッダー CSS */
header{
  width:980px;
  color:brown;
  background-color:bisque;
  overflow:hidden;
}

#logo{
  display:block;
  margin-left:10px;
  margin-bottom:10px;
  float:left;
}

#head_meg{
  margin-top:20px;
  margin-left:70px;
  float:left;
}

h1{
  font-size:28px;
  color:crimson;
}
/* ナビゲーション css */
nav{
  padding-left:10px;
  padding-right:10px;
}

nav ul{list-style-type:none;}

nav li{
  width:160px;
  height:60px;
  float:left;
}

nav a{
  display:block;
  line-height:60px;
  text-align:center;
  color:darkred;
  text-decoration:none;
  background-image:url(images2/gold.png);
}

nav a:hover{
  color:crimson;
  font-weight:bold;
  background-image:url(images2/silvar.png);
}
